<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="CSS/acceuil_camera.css" />
</head>

<body>
    <header>
        <!--INCLUDE-->
    </header>

    <div class="container_svg">

        <div class="boite_salon">
            <img class="svg_salon" src="../data/svg/living-room.svg">
            <h6 class="titre_svg_menu_camera">Salon</h6>
        </div>

        <div class="boite_chambre_parentale">
            <img class="svg_chambre_parentale" src="../data/svg/bed.svg">
            <h6 class="titre_svg_menu_camera">Chambre parentale</h6>
        </div>

        <div class="boite_bureau">
            <img class="svg_bureau" src="../data/svg/chairs.svg">
            <h6 class="titre_svg_menu_camera">Bureau</h6>
        </div>

        <div class="boite_chambre_enfant">
            <img class="svg_chambre_enfant" src="../data/svg/bed.svg">
            <h6 class="titre_svg_menu_camera">Chambre enfant</h6>
        </div>

        <div class="boite_cuisine">
            <img class="svg_cuisine" src="../data/svg/kitchen.svg">
            <h6 class="titre_svg_menu_camera">Cuisine</h6>
        </div>

        <div class="boite_exterrieur">
            <img class="svg_exterrieur" src="../data/svg/home.svg">
            <h6 class="titre_svg_menu_camera">Extérieur</h6>
        </div>
    </div>

</body>

</html>