
<header>

    <div class="hd-cat-button">
        <a href="/homepage">
        <svg id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 1080">
        <defs>
        <style>.cls-1{fill:#fff;}.cls-2{fill:#64c8fa;}</style>
        </defs>
        <title>logo</title>
        <circle class="cls-1" cx="540" cy="540" r="540"/>
        <circle class="cls-2" cx="542.2" cy="539.12" r="517.59"/>
        <polygon class="cls-1" points="161.31 509.3 192.7 544.1 558.48 216.26 896.94 552.52 931.76 517.7 727.71 314.24 727.64 203.1 663.22 203.06 662.94 249.09 560.85 147.33 161.31 509.3"/>
        <polygon class="cls-1" points="538.28 831.58 557.1 831.58 557.1 678.76 565.39 675.05 572.35 668.55 576.88 660.9 578.9 650.51 576.97 641.26 571.89 633.38 564.11 626.38 554.63 622.67 547.99 622.21 540.3 623.26 531 627.11 525.64 631.23 521.25 637.62 518.71 644.28 518.3 651.08 518.85 659.46 523.45 668.87 529.56 673.88 538.28 678.21 538.28 831.58"/>
        <polygon class="cls-1" points="244.09 535.03 242.63 828.85 477.61 831.28 478.77 681.78 434.87 633.66 435.19 585.92 444.19 581.92 452.16 573.26 456 564.4 456.62 557.61 455.8 550.26 452.5 543.11 443.37 534.18 430.38 529.65 419.88 530.06 408.82 534.12 401.81 540.98 397.9 547.85 395.7 556.16 395.84 563.65 399.96 573.95 408.75 582.61 416.03 585.42 416.17 641.19 459.85 689.13 459.85 783.91 289.31 782.26 290.69 556.44 553.12 313.3 798.45 564.47 798.45 784.74 635.19 784.67 635.26 686.38 679.15 637.55 679.08 584.39 688.63 579.1 694.95 572.29 698.52 563.44 698.79 551.49 694.67 542.15 686.98 534.12 676.88 529.17 668.3 528.42 657.17 530.06 649.62 534.32 644.74 539.06 638.9 548.47 637.73 558.57 640.07 569.49 645.01 576.22 651.75 581.58 660.13 585.01 660.13 630.61 616.51 678.76 616.44 831.28 845.5 831.58 845.5 545.65 557.58 250.39 244.09 535.03"/>
        <circle class="cls-2" cx="425.63" cy="558.07" r="20.92"/>
        <circle class="cls-2" cx="548.6" cy="651.17" r="20.92"/>
        <circle class="cls-2" cx="668.9" cy="558.07" r="20.92"/>
        <path class="cls-1" d="M553,326.7l26.37,26.37s-26.55,30.77-53.66-1.28Z"/>
        <path class="cls-1" d="M588.51,362.78l8.43,8.24s-42.31,46.89-89.56-2L516,361S548.59,400.51,588.51,362.78Z"/>
        <path class="cls-1" d="M605.91,380.36l8.79,8.24s-58.79,67.22-126-2.2l8.8-8S547.69,439.49,605.91,380.36Z"/>
        </svg>
        </a>
        <a href="index.php?filesMenu=true">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve" width="512px" height="512px"><g>
            <path d="M10.5,7C8.019,7,6,9.019,6,11.5S8.019,16,10.5,16s4.5-2.019,4.5-4.5S12.981,7,10.5,7z M10.5,14C9.122,14,8,12.879,8,11.5   S9.122,9,10.5,9s2.5,1.121,2.5,2.5S11.878,14,10.5,14z" fill="#FFFFFF"/>
            <circle cx="50" cy="10" r="1" fill="#FFFFFF"/>
            <circle cx="46" cy="10" r="1" fill="#FFFFFF"/>
            <circle cx="52" cy="13" r="1" fill="#FFFFFF"/>
            <circle cx="48" cy="13" r="1" fill="#FFFFFF"/>
            <circle cx="42" cy="10" r="1" fill="#FFFFFF"/>
            <circle cx="44" cy="13" r="1" fill="#FFFFFF"/>
            <circle cx="38" cy="10" r="1" fill="#FFFFFF"/>
            <circle cx="40" cy="13" r="1" fill="#FFFFFF"/>
            <circle cx="34" cy="10" r="1" fill="#FFFFFF"/>
            <circle cx="36" cy="13" r="1" fill="#FFFFFF"/>
            <path d="M60,17.392V5.608C60,3.067,57.933,1,55.392,1H4.608C2.067,1,0,3.067,0,5.608v11.783C0,18.86,0.703,20.156,1.777,21   C0.703,21.844,0,23.14,0,24.608v11.783C0,38.933,2.067,41,4.608,41H29v8.101C27.044,49.5,25.5,51.044,25.101,53H1   c-0.552,0-1,0.447-1,1s0.448,1,1,1h24.101c0.465,2.279,2.484,4,4.899,4s4.434-1.721,4.899-4H59c0.552,0,1-0.447,1-1s-0.448-1-1-1   H34.899C34.5,51.044,32.956,49.5,31,49.101V41h24.392C57.933,41,60,38.933,60,36.392V24.608c0-1.469-0.703-2.764-1.777-3.608   C59.297,20.156,60,18.86,60,17.392z M33,54c0,1.654-1.346,3-3,3s-3-1.346-3-3s1.346-3,3-3S33,52.346,33,54z M58,24.608v11.783   C58,37.83,56.83,39,55.392,39H4.608C3.17,39,2,37.83,2,36.392V24.608C2,23.17,3.17,22,4.608,22h50.783C56.83,22,58,23.17,58,24.608   z M4.608,20C3.17,20,2,18.83,2,17.392V5.608C2,4.17,3.17,3,4.608,3h50.783C56.83,3,58,4.17,58,5.608v11.783   C58,18.83,56.83,20,55.392,20H4.608z" fill="#FFFFFF"/>
            <path d="M10.5,35c2.481,0,4.5-2.019,4.5-4.5S12.981,26,10.5,26S6,28.019,6,30.5S8.019,35,10.5,35z M10.5,28   c1.378,0,2.5,1.121,2.5,2.5S11.878,33,10.5,33S8,31.879,8,30.5S9.122,28,10.5,28z" fill="#FFFFFF"/><circle cx="50" cy="29" r="1" fill="#FFFFFF"/>
            <circle cx="46" cy="29" r="1" fill="#FFFFFF"/>
            <circle cx="52" cy="32" r="1" fill="#FFFFFF"/>
            <circle cx="48" cy="32" r="1" fill="#FFFFFF"/>
            <circle cx="42" cy="29" r="1" fill="#FFFFFF"/>
            <circle cx="44" cy="32" r="1" fill="#FFFFFF"/>
            <circle cx="38" cy="29" r="1" fill="#FFFFFF"/>
            <circle cx="40" cy="32" r="1" fill="#FFFFFF"/>
            <circle cx="34" cy="29" r="1" fill="#FFFFFF"/>
            <circle cx="36" cy="32" r="1" fill="#FFFFFF"/>
            </g>
            </svg></a>
        <a href="/homepage/listRooms">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 54 54" style="enable-background:new 0 0 54 54;" xml:space="preserve" width="512px" height="512px">
            <g>
            <path d="M27,8c-9.374,0-17,7.626-17,17c0,7.112,4.391,13.412,11,15.9V50c0,0.553,0.447,1,1,1h1v2c0,0.553,0.447,1,1,1h6   c0.553,0,1-0.447,1-1v-2h1c0.553,0,1-0.447,1-1v-9.1c6.609-2.488,11-8.788,11-15.9C44,15.626,36.374,8,27,8z M30,49   c-0.553,0-1,0.447-1,1v2h-4v-2c0-0.553-0.447-1-1-1h-1v-5h8v5H30z M31.688,39.242C31.277,39.377,31,39.761,31,40.192V42h-8v-1.808   c0-0.432-0.277-0.815-0.688-0.95C16.145,37.214,12,31.49,12,25c0-8.271,6.729-15,15-15s15,6.729,15,15   C42,31.49,37.855,37.214,31.688,39.242z" fill="#FFFFFF"/>
            <path d="M27,6c0.553,0,1-0.447,1-1V1c0-0.553-0.447-1-1-1s-1,0.447-1,1v4C26,5.553,26.447,6,27,6z" fill="#FFFFFF"/>
            <path d="M51,24h-4c-0.553,0-1,0.447-1,1s0.447,1,1,1h4c0.553,0,1-0.447,1-1S51.553,24,51,24z" fill="#FFFFFF"/>
            <path d="M7,24H3c-0.553,0-1,0.447-1,1s0.447,1,1,1h4c0.553,0,1-0.447,1-1S7.553,24,7,24z" fill="#FFFFFF"/>
            <path d="M43.264,7.322l-2.828,2.828c-0.391,0.391-0.391,1.023,0,1.414c0.195,0.195,0.451,0.293,0.707,0.293   s0.512-0.098,0.707-0.293l2.828-2.828c0.391-0.391,0.391-1.023,0-1.414S43.654,6.932,43.264,7.322z" fill="#FFFFFF"/>
            <path d="M12.15,38.436l-2.828,2.828c-0.391,0.391-0.391,1.023,0,1.414c0.195,0.195,0.451,0.293,0.707,0.293   s0.512-0.098,0.707-0.293l2.828-2.828c0.391-0.391,0.391-1.023,0-1.414S12.541,38.045,12.15,38.436z" fill="#FFFFFF"/>
            <path d="M41.85,38.436c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414l2.828,2.828c0.195,0.195,0.451,0.293,0.707,0.293   s0.512-0.098,0.707-0.293c0.391-0.391,0.391-1.023,0-1.414L41.85,38.436z" fill="#FFFFFF"/>
            <path d="M12.15,11.564c0.195,0.195,0.451,0.293,0.707,0.293s0.512-0.098,0.707-0.293c0.391-0.391,0.391-1.023,0-1.414l-2.828-2.828   c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414L12.15,11.564z" fill="#FFFFFF"/>
            <path d="M27,13c-6.617,0-12,5.383-12,12c0,0.553,0.447,1,1,1s1-0.447,1-1c0-5.514,4.486-10,10-10c0.553,0,1-0.447,1-1   S27.553,13,27,13z" fill="#FFFFFF"/>
            </g>
            </svg></a>
        <a href="index.php?cameraMenu=true">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="512px" height="512px">
            <g>
            <path d="M511.985,211.399c-0.204-4.679-2.811-13.353-17.976-18.872L89.696,45.514c-20.725-7.541-43.725,3.181-51.269,23.907   L27.482,99.49c0,0-0.001,0.003-0.002,0.005L2.857,167.148c-7.543,20.727,3.181,43.725,23.91,51.27l117.836,42.839   c-2.239,13.62,1.496,27.077,9.626,37.372l-25.102,68.963c-1.155,3.174-4.203,5.307-7.584,5.307H48v-24c0-13.233-10.766-24-24-24H8   c-4.418,0-8,3.582-8,8v128c0,4.418,3.582,8,8,8h16c13.234,0,24-10.767,24-24v-24h73.543c23.488,0,44.662-14.828,52.689-36.896   l24.574-67.514c14.063-1.974,26.843-10.185,34.429-23.009l137.703,50.062c4.501,1.638,9.107,2.415,13.641,2.415   c13.751-0.001,26.817-7.149,34.134-19.08l15.802,5.751c1.785,0.649,3.635,0.973,5.48,0.973c2.303,0,4.598-0.504,6.747-1.506   c3.871-1.805,6.807-5.01,8.267-9.022l21.897-60.162c2.663-7.317-0.376-15.336-6.829-19.188l25.646-11.958   C510.349,224.945,512.189,216.078,511.985,211.399z M32,444.899c0,4.411-3.589,8-8,8h-8v-112h8c4.411,0,8,3.589,8,8V444.899z    M159.197,378.532c-5.737,15.771-20.869,26.367-37.654,26.367H48v-16h73.543c10.082,0,19.171-6.363,22.619-15.834l22.965-63.094   c2.635,1.583,5.458,2.942,8.456,4.033c2.128,0.775,4.275,1.388,6.426,1.853L159.197,378.532z M193.104,300.917   c-0.185-0.001-0.369-0.001-0.553,0.01c-3.81,0.051-7.697-0.575-11.496-1.958c-4.447-1.619-8.325-4.11-11.502-7.213   c-0.291-0.354-0.614-0.682-0.967-0.983c-5.958-6.346-9.148-14.961-8.544-23.903l57.758,20.998   C211.956,295.894,202.808,300.618,193.104,300.917z M461.873,257.439l-21.883,60.155l-15.046-5.476l20.756-57.027l4.249-1.981   L461.873,257.439z M488.963,217.264l-42.767,19.942c-0.005,0.002-0.009,0.004-0.013,0.006l-10.242,4.776   c-0.004,0.002-0.007,0.003-0.011,0.005l-12.008,5.599c-14.092,6.571-38.343,7.629-52.958,2.31l-231.409-84.081   c-4.151-1.507-8.742,0.635-10.251,4.787c-1.509,4.153,0.634,8.742,4.787,10.252l231.405,84.079   c8.052,2.931,17.977,4.358,28.105,4.358c11.073,0,22.379-1.715,31.736-5.036l-18.162,49.901   c-4.526,12.436-18.326,18.87-30.764,14.343L32.236,203.382c-12.436-4.526-18.87-18.325-14.344-30.761l13.688-37.608   c4.565,7.018,11.354,12.669,19.81,15.747l7.52,2.736c4.148,1.512,8.742-0.63,10.253-4.782c1.511-4.151-0.63-8.742-4.782-10.253   l-7.519-2.736c-12.434-4.526-18.869-18.322-14.346-30.757l2.738-7.523c0,0,0.001-0.002,0.001-0.003l8.207-22.549   c4.527-12.436,18.326-18.873,30.764-14.344l404.313,147.014c5.136,1.869,7.036,3.817,7.422,4.535   C495.639,212.848,493.917,214.953,488.963,217.264z" fill="#FFFFFF"/>
            <path d="M109.485,154.878l-15.037-5.474c-4.151-1.513-8.742,0.63-10.254,4.781c-1.511,4.151,0.629,8.742,4.781,10.254l15.037,5.474   c0.903,0.329,1.827,0.484,2.736,0.484c3.268,0,6.335-2.018,7.518-5.266C115.778,160.981,113.637,156.39,109.485,154.878z" fill="#FFFFFF"/>
            </g>
            </svg></a>
        <a href="index.php?gestionUser=true">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve" width="512px" height="512px">
            <path d="M55.014,45.389l-9.553-4.776C44.56,40.162,44,39.256,44,38.248v-3.381c0.229-0.28,0.47-0.599,0.719-0.951  c1.239-1.75,2.232-3.698,2.954-5.799C49.084,27.47,50,26.075,50,24.5v-4c0-0.963-0.36-1.896-1-2.625v-5.319  c0.056-0.55,0.276-3.824-2.092-6.525C44.854,3.688,41.521,2.5,37,2.5s-7.854,1.188-9.908,3.53c-1.435,1.637-1.918,3.481-2.064,4.805  C23.314,9.949,21.294,9.5,19,9.5c-10.389,0-10.994,8.855-11,9v4.579c-0.648,0.706-1,1.521-1,2.33v3.454  c0,1.079,0.483,2.085,1.311,2.765c0.825,3.11,2.854,5.46,3.644,6.285v2.743c0,0.787-0.428,1.509-1.171,1.915l-6.653,4.173  C1.583,48.134,0,50.801,0,53.703V57.5h14h2h44v-4.043C60,50.019,58.089,46.927,55.014,45.389z M14,53.262V55.5H2v-1.797  c0-2.17,1.184-4.164,3.141-5.233l6.652-4.173c1.333-0.727,2.161-2.121,2.161-3.641v-3.591l-0.318-0.297  c-0.026-0.024-2.683-2.534-3.468-5.955l-0.091-0.396l-0.342-0.22C9.275,29.899,9,29.4,9,28.863v-3.454  c0-0.36,0.245-0.788,0.671-1.174L10,23.938l-0.002-5.38C10.016,18.271,10.537,11.5,19,11.5c2.393,0,4.408,0.553,6,1.644v4.731  c-0.64,0.729-1,1.662-1,2.625v4c0,0.304,0.035,0.603,0.101,0.893c0.027,0.116,0.081,0.222,0.118,0.334  c0.055,0.168,0.099,0.341,0.176,0.5c0.001,0.002,0.002,0.003,0.003,0.005c0.256,0.528,0.629,1,1.099,1.377  c0.005,0.019,0.011,0.036,0.016,0.054c0.06,0.229,0.123,0.457,0.191,0.68l0.081,0.261c0.014,0.046,0.031,0.093,0.046,0.139  c0.035,0.108,0.069,0.215,0.105,0.321c0.06,0.175,0.123,0.356,0.196,0.553c0.031,0.082,0.065,0.156,0.097,0.237  c0.082,0.209,0.164,0.411,0.25,0.611c0.021,0.048,0.039,0.1,0.06,0.147l0.056,0.126c0.026,0.058,0.053,0.11,0.079,0.167  c0.098,0.214,0.194,0.421,0.294,0.621c0.016,0.032,0.031,0.067,0.047,0.099c0.063,0.125,0.126,0.243,0.189,0.363  c0.108,0.206,0.214,0.4,0.32,0.588c0.052,0.092,0.103,0.182,0.154,0.269c0.144,0.246,0.281,0.472,0.414,0.682  c0.029,0.045,0.057,0.092,0.085,0.135c0.242,0.375,0.452,0.679,0.626,0.916c0.046,0.063,0.086,0.117,0.125,0.17  c0.022,0.029,0.052,0.071,0.071,0.097v3.309c0,0.968-0.528,1.856-1.377,2.32l-2.646,1.443l-0.461-0.041l-0.188,0.395l-5.626,3.069  C15.801,46.924,14,49.958,14,53.262z M58,55.5H16v-2.238c0-2.571,1.402-4.934,3.659-6.164l8.921-4.866  C30.073,41.417,31,39.854,31,38.155v-4.018v-0.001l-0.194-0.232l-0.038-0.045c-0.002-0.003-0.064-0.078-0.165-0.21  c-0.006-0.008-0.012-0.016-0.019-0.024c-0.053-0.069-0.115-0.152-0.186-0.251c-0.001-0.002-0.002-0.003-0.003-0.005  c-0.149-0.207-0.336-0.476-0.544-0.8c-0.005-0.007-0.009-0.015-0.014-0.022c-0.098-0.153-0.202-0.32-0.308-0.497  c-0.008-0.013-0.016-0.026-0.024-0.04c-0.226-0.379-0.466-0.808-0.705-1.283c0,0-0.001-0.001-0.001-0.002  c-0.127-0.255-0.254-0.523-0.378-0.802l0,0c-0.017-0.039-0.035-0.077-0.052-0.116h0c-0.055-0.125-0.11-0.256-0.166-0.391  c-0.02-0.049-0.04-0.1-0.06-0.15c-0.052-0.131-0.105-0.263-0.161-0.414c-0.102-0.272-0.198-0.556-0.29-0.849l-0.055-0.178  c-0.006-0.02-0.013-0.04-0.019-0.061c-0.094-0.316-0.184-0.639-0.26-0.971l-0.091-0.396l-0.341-0.22  C26.346,25.803,26,25.176,26,24.5v-4c0-0.561,0.238-1.084,0.67-1.475L27,18.728V12.5v-0.354l-0.027-0.021  c-0.034-0.722,0.009-2.935,1.623-4.776C30.253,5.458,33.081,4.5,37,4.5c3.905,0,6.727,0.951,8.386,2.828  c1.947,2.201,1.625,5.017,1.623,5.041L47,18.728l0.33,0.298C47.762,19.416,48,19.939,48,20.5v4c0,0.873-0.572,1.637-1.422,1.899  l-0.498,0.153l-0.16,0.495c-0.669,2.081-1.622,4.003-2.834,5.713c-0.297,0.421-0.586,0.794-0.837,1.079L42,34.123v4.125  c0,1.77,0.983,3.361,2.566,4.153l9.553,4.776C56.513,48.374,58,50.78,58,53.457V55.5z" fill="#FFFFFF"/>
            </svg></a>
    </div>

    <div class="hd-cat-profile">
        <p>Bienvenue<br/>Charles HUET</p>
        <a href="#" class="hd-cat-profile-picture">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 490.3 490.3" style="enable-background:new 0 0 490.3 490.3;" xml:space="preserve">
<g>
	<g>
		<path d="M0,121.05v248.2c0,34.2,27.9,62.1,62.1,62.1h200.6c34.2,0,62.1-27.9,62.1-62.1v-40.2c0-6.8-5.5-12.3-12.3-12.3
			s-12.3,5.5-12.3,12.3v40.2c0,20.7-16.9,37.6-37.6,37.6H62.1c-20.7,0-37.6-16.9-37.6-37.6v-248.2c0-20.7,16.9-37.6,37.6-37.6h200.6
			c20.7,0,37.6,16.9,37.6,37.6v40.2c0,6.8,5.5,12.3,12.3,12.3s12.3-5.5,12.3-12.3v-40.2c0-34.2-27.9-62.1-62.1-62.1H62.1
			C27.9,58.95,0,86.75,0,121.05z"/>
		<path d="M385.4,337.65c2.4,2.4,5.5,3.6,8.7,3.6s6.3-1.2,8.7-3.6l83.9-83.9c4.8-4.8,4.8-12.5,0-17.3l-83.9-83.9
			c-4.8-4.8-12.5-4.8-17.3,0s-4.8,12.5,0,17.3l63,63H218.6c-6.8,0-12.3,5.5-12.3,12.3c0,6.8,5.5,12.3,12.3,12.3h229.8l-63,63
			C380.6,325.15,380.6,332.95,385.4,337.65z"/>
	</g>
</g></svg>
        </a>
    </div>
</header>
