* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;

}

.cm-cat-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 70vw;
    margin: 5vh auto;
}

.cm-cat-row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.cm-cat-row h1 {
    color: #84A5FF;
    font-weight: bold;
    font-size: 2.5em;
}

.cm-cat-button {
    width: 250px;
    height: 250px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(135deg, #C7B0E1, #84A5FF);
    border: solid 1px lightgray;
    border-radius: 10px;
    margin: 30px;
}

.cm-cat-button:hover {
    opacity: 0.8;
    border: solid 1px gray;
}

.cm-cat-button svg {
    width: 130px;
    height: 130px;
}

.cm-cat-button p {
    font-weight: bold;
    color: white;
    font-size: 1.5em;
    margin-top: 10px;
}

.cm-cat-row-bottom {
    display: flex;
    flex-flow: row nowrap;
    width: 100vw;
    justify-content: flex-end;
    margin-top: 1vh;
}

.cm-cat-button-bottom {
    width: 15%;
    height: 5vh;
    border: solid 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 6px;
    background-color: #A4A4A4;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
}

.cm-cat-row-bottom svg {
    width: 35px;
    height: auto;
}

.cm-cat-row-bottom p {
    color: #FFFFFF;
    margin-left: 50px;
    font-size: 1.2em;
    text-align: right;
    font-weight: bold;
}

.cm-cat-button-bottom:hover {
    opacity: 0.8;
}