* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.mm-cat-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    height: 80vh;
    margin: 2vh auto;
}