header {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(90deg, #65CBFB, #60C3F2, #84A5FF);
    display: flex;
    justify-content: space-between;
}

.hd-cat-button {
    display: flex;
    flex-flow: row wrap;
}

.hd-cat-button svg {
    width: 60px;
    height: 100px;
    margin: 0px 25px;

}

.hd-cat-profile {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.hd-cat-profile p {
    text-align: right;
    font-style: oblique;
    color: white;
    font-weight: bold;
}

.hd-cat-profile-picture {
    width: 60px;
    height: 60px;
    border: solid 2px white;
    border-radius: 50px;
    margin: 0px 25px;
    background-color: grey;
}

.hd-cat-profile-picture svg {
    display: none;
}

.hd-cat-profile-picture:hover svg {
    display: block;
}