* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #F2F4F6;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.lg-cat-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;

    font-size: 1.5em;
    color: #64C8FA;
}

.lg-cat-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.lg-cat-row svg {
    width: 200px;
    height: 200px;
}

.lg-cat-bar {
    width: 2px;
    height: 220px;
    background-color: #707070;
    margin: 0px 50px;
}

.lg-cat-form {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: center;
}

.lg-cat-form h2 {
    margin: 0px 0px 10px 0px;
    color: #64C8FA;
}

.lg-cat-input {
    width: 200px;
    height: 30px;
    background-color: white;
    border: solid 1px #707070;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    margin: 15px 0px 0px 0px;
}

.lg-cat-button-validate {
    width: 100px;
    height: 30px;
    background-color: #64C8FA;
    border: solid 0px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;

    font-size: 0.8em;
    color: white;
    font-weight: bold;
}

.lg-cat-button-validate:hover {
    cursor: pointer;
    background-color: #2A98CF;

}

.lg-cat-button-help {
    font-style: oblique;
    font-weight: bold;
    font-size: 0.9em;
    color: #000000;

}

.lg-cat-button-help:hover {
    cursor: pointer;
    color: red;
}

@media screen and (max-width: 640px) {
    .lg-cat-row {
        flex-flow: column;
    }
    .lg-cat-bar {
        display: none;
    }
}